/* Reset box-sizing for all elements */
* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 15px;
    font-weight: bold;
}

p {
    border: 1px solid black;
    background-color: #FFD700;
    width: 90%;
    height: 150px;
    margin-right: auto;
    margin-left: autho;
    font-family: Helvetica;
    color: black;
}

/* Style for the entire section */
.section {
    position: relative; /* So that the title can be positioned absolutely within it */
    float: left; /* Makes the sections side by side */
    width: 33.33%; /* Divide screen into 3 equal sections for desktop view */
    border: 1px solid black;
    padding: 20px; /* Spacing inside each section */
    margin: 10px; /* Spacing between sections */
}

.row {
    width: 100%;
}

/* Tablet View */
@media (max-width: 991px) and (min-width: 768px) {
    .section {
        width: 50%; /* Divide screen into 2 equal sections for the first two */
    }

    #sushi {
        width: 100%; /* Sushi section takes full width */
        clear: both; /* Moves the section to the next row */
    }
}

/* Mobile View */
@media (max-width: 767px) {
    .section {
        width: 100%; /* Each section takes full width */
        float: none; /* Stacks sections vertically */
    }
}

/* Background and Text Colors */
#chicken {
    background-color: #ffdab9;
    color: black; /* You can change this if needed */
}

#beef {
    background-color: #ffb6c1;
    color: black;
}

#sushi {
    background-color: #E0FFFF;
    color: black;
}
